.line {
  position: relative;
}
.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color--white);
  opacity: 0.65;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.hero_h1-wrapper h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(500px);
}

.hero-scroll_img-overflow,
.hero-scroll_img_photo,
.block {
  will-change: transform;
}

/* The animation code */
@keyframes fill {
  0% {
    opacity: 1;
    width: 0%;
  }
  95% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

/* The element to apply the animation to */
.tabs_item.is-active .tabs_item_divider-active {
  animation-name: fill;
  animation-timing-function: linear;
  animation-duration: 4s;
}

.module_item-bottom {
  transition: 500ms grid-template-rows cubic-bezier(0.165, 0.84, 0.44, 1);
}

.module_item.is-active .module_item-bottom {
  grid-template-rows: 1fr;
}

.module_visual-wrap {
  transition: clip-path 0.8s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.module_item.is-active .module_item_line-active {
  animation-name: fill;
  animation-timing-function: linear;
  animation-duration: 8.4s;
}

.button.is-tab.w--current .support_tab-line-active {
  transform: scaleX(1);
}

.support_link-item:hover .support_link-line-active {
  transform: scaleX(1);
}

.nav_bg-active {
  transition: transform 0.5s ease-in-out;
  border-radius: 1.25rem;
}

.nav_component .nav_parent.is-alt .nav_container {
  transition: padding 0.5s ease-in-out;
}
.nav_component.is-active .nav_parent.is-alt .nav_container {
  padding: 0rem 1.25rem;
}

.nav_container {
}

.nav_component.is-active {
  color: black !important;
}

.nav_component.is-active .nav_bg-active {
  transform: scaleY(1);
}
.nav_component .nav_logo {
  transition: color 0.2s ease-in-out;
}

.nav_component.is-active .nav_logo {
  color: black !important;
}

.nav_component {
  transition: transform 0.5s ease-in-out, color 0.2s ease-in-out;
}

/* .nav_component:has(.nav_dropdown-toggle:hover),
.nav_component.is-active,
.nav_component:has(.nav_dropdown-toggle:hover) .nav_logo {
  color: black;
} */

.menu-icon_line-top,
.menu-icon_line-middle,
.menu-icon_line-bottom {
  transition: background-color 0.2s ease-in-out;
}

.nav_component.is-active .menu-icon_line-top,
.nav_component.is-active .menu-icon_line-middle,
.nav_component.is-active .menu-icon_line-bottom {
  background-color: black;
}

.nav_component.is-scrolled {
  transform: translateY(-150%);
}

.map_dot_outline,
.map_dot_text {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
}

.map_dot {
  transform: translateZ(0);
}

.w-nav-overlay {
  padding-left: 3.5%;
  padding-right: 3.5%;
}
